@use "../variables";

.btn {
  cursor: pointer;

  width: 100%;
  max-width: 168px;
  min-height: 50px;
  margin-top: 50px;

  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.15px;

  background-color: variables.$purple;
  border: none;
  border-radius: 25px;
  outline: none;
}

.btn_light {
  box-shadow:
    8px 8px 16px variables.$boxShadow_light,
    -8px -8px 16px variables.$white;
}

.btn_dark {
  box-shadow: none;
}
