.loginContainer {
  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60%;
  height: 100%;
  padding: 25px;

  transition: 1.25s;
}

.loginContainer_light {
  background-color: #ecf0f3;
}

.loginContainer_dark {
  background-color: #303234;
}

.changeContainer {
  z-index: 0;
  left: 40%;
  transition: 1.25s;
}

.changeForm {
  z-index: 200;
  left: 0;
  transform-origin: right;
  transition: 1.25s;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 550px;
  min-height: 550px;
}

.titleForm {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
  color: #181818;
}

.titleForm_light {
  color: #181818;
}

.titleForm_dark {
  color: #f9f9f9;
}

.spanForm {
  width: 100%;
  max-width: 167px;
  min-height: 15px;
  margin-top: 30px;
  margin-bottom: 12px;
}

.spanForm_light {
  color: #181818;
}

.spanForm_dark {
  color: #f9f9f9;
}

.inputForm {
  width: 100%;
  max-width: 350px;
  min-height: 40px;
  margin: 4px 0;
  padding-left: 25px;

  font-family: Montserrat, sans-serif;
  font-size: 13px;
  letter-spacing: 0.15px;

  border: none;
  border-radius: 8px;
  outline: none;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;

  transition: 0.25s ease;
}

.inputForm_light {
  background-color: #ecf0f3;
}

.inputForm_dark {
  background-color: #303234;
}

.linkForm {
  width: 100%;
  max-width: 172px;
  min-height: 32px;
  margin-top: 25px;

  font-size: 15px;
  line-height: 2;
}

.linkForm_light {
  color: #181818;
  border-bottom: 1px solid #a0a5a8;
}

.linkForm_dark {
  color: #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
}
