.switchContainer {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 600px;
}

.switchContainer_light {
  background-color: #ecf0f3;
}

.switchContainer_dark {
  background-color: #303234;
}

.isHidden {
  visibility: hidden;
  opacity: 0;
  transition: 1.25s;
}

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
  color: #181818;
}

.title_light {
  color: #181818;
}

.title_dark {
  color: #f9f9f9;
}

.switchDescription {
  max-width: 257px;
  min-height: 45px;

  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.25px;
}

.switchDescription_light {
  color: #181818;
}

.switchDescription_dark {
  color: #f9f9f9;
}
