@use "../../../../shared/variables";

.switchCircle {
  position: absolute;
  top: 60%;
  left: -52%;

  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 400px;

  border-radius: 50%;

  transition: 1.25s;
}

.switchCircle_light {
  background-color: variables.$background_light;
  box-shadow:
    inset 8px 8px 12px variables.$boxShadow_light,
    inset -8px -8px 12px variables.$white;
}

.switchCircle_dark {
  background-color: variables.$background_dark;
  box-shadow:
    inset 8px 8px 12px variables.$boxShadow_light,
    inset -8px -8px 12px variables.$white;
}

.switchCircleChange {
  left: 60%;
  transform-origin: left;
  transition: 1.25s;
}
