.btnTheme {
  cursor: pointer;

  position: absolute;
  z-index: 250;
  left: 930px;

  width: 100%;
  max-width: 30px;
  min-height: 30px;

  background-image: url("../shared/icons/btn_light.svg");
  background-repeat: no-repeat;
  background-position: center;
}
