.scrollContainer {
  overflow-y: scroll;
  height: 400px;
  padding-right: 10px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9466ff;
    border-radius: 3px;
  }

  .containerFilledCart {
    display: flex;

    img {
      height: 126px;
      object-fit: contain;
      background: radial-gradient(52.53% 52.53% at 50% 47.47%, #4e5d77 0, rgb(42 50 63 / 0%) 100%), #2a323f;
    }

    span {
      font-weight: 400;
      color: #e8e9ea;
    }

    .filterContent {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }
}
