.switchContainer {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40%;
  height: 100%;
  padding: 50px;

  box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;

  transition: 1.25s;
}

.switchContainer_light {
  background-color: #ecf0f3;
}

.switchContainer_dark {
  background-color: #303234;
}

.changeSwitch {
  left: calc(100% - 580px);
  transform-origin: left;
  transition: 1.25s;
}
