.modalCart {
  position: absolute;
  z-index: 2;
  top: 70px;
  right: 52px;
  transform-origin: top right;

  display: flex;
  flex-direction: column;

  width: 328px;
  height: 296px;
  padding: 12px;

  background-color: #3d4555;
  border-radius: 12px;

  .smallClose {
    color: #e8e9ea;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      color: #9466ff;
    }
  }

  .headerModal {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    max-width: 328px;
    min-height: 37px;
    margin-bottom: 12px;

    border-bottom: 1px solid rgb(86 92 102);

    .title {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      color: rgb(255 255 255 / 90%);
    }
  }

  .containerCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 322px;
    min-height: 96px;

    img {
      height: 90px;
    }

    .emptyCart {
      width: 100%;
      max-width: 322px;
      min-height: 96px;
      padding-left: 20px;
    }

    .containerFilledCart {
      display: flex;
      justify-content: space-between;

      width: 100%;
      max-width: 322px;
      min-height: 96px;
      margin-bottom: 12px;

      .imgCart {
        width: 100%;
        max-width: 96px;
        min-height: 96px;
        margin-right: 12px;

        background: rgb(42 50 63);
      }

      .productInformation {
        width: 100%;
        max-width: 220px;
        min-height: 96px;

        .containerTitleCart {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          width: 100%;
          max-width: 220px;
          min-height: 52px;

          .titleContainer {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: rgb(232 233 234);
          }

          .btnRemoveProduct {
            color: rgb(165 168 173);

            &:hover {
              color: #ff0c0c;
            }
          }
        }

        .containerPriceProduct {
          display: flex;
          align-items: center;
          justify-content: space-between;

          width: 100%;
          max-width: 220px;
          min-height: 32px;

          .btnChangePrice {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;
            max-width: 106px;
            min-height: 32px;
            padding: 4px 6px;

            background: rgb(51 58 71);
            border-radius: 16px;

            button {
              display: flex;
              align-items: center;

              .colorIcon {
                color: rgb(255 255 255 / 40%);

                &:hover {
                  color: #9466ff;
                  transition: color 0.2s ease-in-out;
                }
              }
            }

            .countProduct {
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              color: rgb(255 255 255 / 90%);
            }
          }

          .price {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: rgb(232 233 234);
          }
        }
      }
    }
  }

  .scrollContainer {
    overflow-y: scroll;
    height: 200px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #9466ff;
      border-radius: 3px;
    }
  }

  .orderPrice {
    display: flex;
    justify-content: space-between;

    margin-bottom: 12px;
    padding-top: 12px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(232 233 234);

    border-top: 1px solid rgb(86 92 102);
  }

  .linkModalCart {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 335px;
    min-height: 32px;

    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-decoration: none;

    background-color: #9466ff;
    border-radius: 24px;

    transition: background-color 0.2s ease-in-out;
  }
}
