.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #1d2533;
}

.banner {
  position: relative;
  min-height: 800px;
  padding: 6.25% 1% 12.1%;
  background:
    radial-gradient(305.81% 111.8% at 100% 0%, rgb(64 117 255), rgb(64 117 255 / 0%) 100%),
    radial-gradient(283.02% 111.89% at 27% 0%, rgb(22 217 166), rgb(22 217 166 / 0%) 100%),
    rgb(148 102 255);

  .advertising {
    position: absolute;
    top: 24px;
    right: 14%;

    display: flex;
    align-items: center;

    width: 97px;
    height: 28px;
    padding: 2px 4px 2px 8px;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(165 168 173);
    text-align: left;
    letter-spacing: 0;

    background: url("../../shared/assets/icons/adDecor.svg") rgb(16 24 40 / 40%) no-repeat right;
    border-radius: 30px;
  }

  .bannerContainer {
    max-width: 1535px;
    margin: 0 auto;

    .subtitle {
      position: relative;
      display: inline-block;

      .subOne {
        display: inline-block;

        width: 100%;
        max-width: 376px;
        min-height: 70px;
        padding: 0 22px;

        font-family: "Rostelecom Basis Regular", sans-serif;
        font-size: 60px;
        font-weight: 700;
        line-height: 62px;
        color: rgb(42 50 63);
        text-align: left;
        white-space: nowrap;

        background-color: rgb(232 233 234);
        border-radius: 0 3.86px 0 0;
      }

      .subTwo {
        display: inline-block;

        width: 100%;
        min-height: 67px;
        padding: 0 22px;

        font-family: "Rostelecom Basis Regular", sans-serif;
        font-size: 60px;
        font-weight: 700;
        line-height: 62px;
        color: rgb(42 50 63);
        text-align: left;
        white-space: nowrap;

        background: rgb(232 233 234);
        border-radius: 0 3.86px 0 0;
      }

      .decorate {
        position: absolute;
        left: 398px;

        width: 100%;
        max-width: 44.98px;
        min-height: 26.46px;

        background-image: url("../../shared/assets/icons/decorateBanner.png");
      }
    }

    .bannerTitle {
      position: relative;
      max-width: 1535px;
      min-height: 277px;

      .bannerTitleText {
        display: inline-block;

        max-width: 1535px;
        min-height: 277px;

        font-size: clamp(52px, 15vw, 264px);
        font-weight: 700;
        line-height: 276.95px;
        color: rgb(232 233 234);
        text-align: left;
      }

      .bannerSubtitle {
        position: absolute;
        top: 31px;
        left: 198px;

        display: inline-block;

        min-height: 40px;

        font-size: 22.24px;
        font-weight: 400;
        line-height: 39.62px;
        color: rgb(42 50 63);
        text-align: left;
      }
    }

    .link {
      display: block;

      width: 100%;
      max-width: 157px;
      min-height: 56px;
      padding: 16px 40px;

      color: rgb(255 255 255);

      background: rgb(148 102 255);
      border-radius: 36px;
    }
  }
}
