@use "../../shared/variables";

.switchContainer {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40%;
  height: 100%;
  padding: 50px;

  box-shadow:
    4px 4px 10px variables.$boxShadow_light,
    -4px -4px 10px variables.$white;

  transition: 1.25s;
}

.switchContainer_light {
  background-color: variables.$background_light;
}

.switchContainer_dark {
  background-color: variables.$background_dark;
}

.changeSwitch {
  left: 60%;
  transform-origin: left;
  transition: 1.25s;
}
