.switchCircle {
  position: absolute;
  bottom: 85%;
  left: 63%;

  width: 100%;
  max-width: 285px;
  height: 100%;
  max-height: 250px;

  border-radius: 50%;

  transition: 1.25s;
}

.switchCircle_light {
  background-color: #ecf0f3;
  box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
}

.switchCircle_dark {
  background-color: #303234;
  box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
}

.switchCircleChange {
  left: 30%;
  transform-origin: left;
  transition: 1.25s;
}
