@use "../../shared/variables";

.btnTheme {
  cursor: pointer;

  position: absolute;
  z-index: 250;
  left: 95vw;

  width: 100%;
  max-width: 30px;
  min-height: 30px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btnTheme_light {
  background-color: variables.$background_light;
  background-image: url("../../shared/icons/btn_light.svg");
}

.btnTheme_dark {
  background-color: variables.$background_dark;
  background-image: url("../../shared/icons/btn_dark.svg");
}
