.header {
  position: relative;
  background: rgb(29 37 51);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 0 8px 0 rgb(0 0 0 / 10%);
}

.container {
  width: 100%;
  max-width: 1920px;
  min-height: 80px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1535px;
  margin: 0 auto;
  padding: 0 15px

  /* padding: 12px 14% 18px; */
}

.menu {
  width: 100%;
  max-width: 66px;
  min-height: 32px;
  color: rgb(232 233 234);
}

.logo {
  position: relative;

  display: block;

  width: 100%;
  max-width: 197px;
  min-height: 50px;

  background-image: url("../../shared/assets/icons/logo.svg");
  background-position: center;
  background-size: cover;
}

.category {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 248px;
  min-height: 24px;

  li,
  a {
    cursor: pointer;
    display: block;
    width: 24px;
    height: 24px;
  }

  .listBtn {
    height: 24px;
    background-color: transparent;

    .btnIcon {
      color: #e8e9ea;
    }

    &:hover {
      color: #9466ff;

      .btnIcon {
        color: #9466ff;
      }
    }
  }

  .listLink {
    width: 100%;
    height: 100%;
    color: #e8e9ea;

    &:hover {
      color: #9466ff;
    }
  }
}

.searchModalInput {
  width: 100%;
  height: 48px;
  padding-top: 18px;
  padding-left: 20px;

  color: hsl(0deg 0% 100% / 90%);

  background: hsl(0deg 0% 100% / 6%);
  border: none;
}

.modalHeader {
  position: relative;

  .modalClose {
    position: absolute;
    top: 0;
    right: 0;

    .smallClose {
      color: #e8e9ea;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        color: #9466ff;
      }
    }
  }
}
