@use "../../../shared/variables";

.containerForm {
  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60%;
  height: 100%;
  padding: 25px;

  transition: 1.25s;
}

.containerForm_light {
  background-color: variables.$background_light;
}

.containerForm_dark {
  background-color: variables.$background_dark;
}

.changeContainer {
  z-index: 100;
  left: 40%;
}

.changeForm {
  left: 0;
  transform-origin: right;
  transition: 1.25s;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 550px;
  height: 100%;
  min-height: 600px;
}

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
}

.title_light {
  color: variables.$black;
}

.title_dark {
  color: variables.$white;
}

.registrationSpan {
  width: 100%;
  max-width: 178px;
  min-height: 15px;
  margin-top: 30px;
  margin-bottom: 12px;
}

.registrationSpan_light {
  color: variables.$black;
}

.registrationSpan_dark {
  color: variables.$white;
}

.formInput {
  width: 100%;
  max-width: 350px;
  min-height: 40px;
  margin: 4px 0;
  padding-left: 25px;

  font-family: Montserrat, sans-serif;
  font-size: 13px;
  letter-spacing: 0.15px;

  background-color: variables.$background_light;
  border: none;
  border-radius: 8px;
  outline: none;

  transition: 0.25s ease;
}

.formInput_light {
  background-color: variables.$background_light;
  box-shadow:
    inset 2px 2px 4px variables.$boxShadow_light,
    inset -2px -2px 4px variables.$white;
}

.formInput_dark {
  background-color: variables.$background_dark;
  box-shadow:
    inset 2px 2px 4px variables.$boxShadow_light,
    inset -2px -2px 4px variables.$white;
}

.formBtn {
  width: 100%;
  max-width: 168px;
  min-height: 50px;
  margin-top: 50px;

  font-size: 14px;
  font-weight: 700;
  color: variables.$white;
  letter-spacing: 1.15px;

  background-color: variables.$purple;
  border: none;
  border-radius: 25px;
  outline: none;
  box-shadow:
    8px 8px 16px variables.$boxShadow_light,
    -8px -8px 16px variables.$white;
}
