.containerForm {
  position: absolute;
  top: -27px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60%;
  min-height: 600px;
  padding: 25px;

  transition: 1.25s;
}

.containerForm_light {
  background-color: #ecf0f3;
}

.containerForm_dark {
  background-color: #303234;
}

.changeContainer {
  z-index: 100;
  left: calc(100% - 872px);
}

.changeForm {
  left: 0;
  transform-origin: right;
  transition: 1.25s;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 550px;
  height: 100%;
  min-height: 600px;
}

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
}

.title_light {
  color: #181818;
}

.title_dark {
  color: #f9f9f9;
}

.registrationSpan {
  width: 100%;
  max-width: 178px;
  min-height: 15px;
  margin-top: 30px;
  margin-bottom: 12px;
}

.registrationSpan_light {
  color: #181818;
}

.registrationSpan_dark {
  color: #f9f9f9;
}

.formInput {
  width: 100%;
  max-width: 350px;
  min-height: 40px;
  margin: 4px 0;
  padding-left: 25px;

  font-family: Montserrat, sans-serif;
  font-size: 13px;
  letter-spacing: 0.15px;

  background-color: #ecf0f3;
  border: none;
  border-radius: 8px;
  outline: none;

  transition: 0.25s ease;
}

.formInput_light {
  background-color: #ecf0f3;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.formInput_dark {
  background-color: #303234;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.formBtn {
  width: 100%;
  max-width: 168px;
  min-height: 50px;
  margin-top: 50px;

  font-size: 14px;
  font-weight: 700;
  color: #f9f9f9;
  letter-spacing: 1.15px;

  background-color: #4b70e2;
  border: none;
  border-radius: 25px;
  outline: none;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
}
