.links {
  position: relative;

  display: flex;
  align-items: center;

  min-height: 24px;
  margin-bottom: 40px;

  .styleLinks {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0;
  }

  .linksColor {
    color: rgb(255 255 255 / 90%);

    &:hover {
      color: #9466ff;
      transition: color 0.2s ease-in-out;
    }
  }

  .currentLinks {
    cursor: auto;
    color: rgb(255 255 255 / 40%);
  }

  :not(:last-child) {
    margin-right: 19px;
  }
}

.links > li:not(:last-child)::after {
  content: "";

  position: relative;
  bottom: 2px;
  left: 10px;

  display: inline-block;

  width: 3px;
  height: 3px;

  background: rgb(255 255 255 / 90%);
  border-radius: 50%;
}
