.burgerMenu {
  width: 100%;
  max-width: 102px;
  min-height: 32px;

  .burgerBtn {
    position: relative;

    display: flex;
    align-items: center;

    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #e8e9ea;

    background-color: transparent;

    &:hover {
      color: #9466ff;
    }

    .burgerIcon {
      width: 100%;
      width: 24px;
      min-height: 24px;
      margin-right: 12px;
    }
  }
}

.wrapper {
  margin: 0 auto;

  .wrapperContent {
    padding: 58px 2% 0;
    background-color: #101828;

    .logo {
      position: relative;

      display: block;

      width: 100%;
      max-width: 197px;
      min-height: 50px;
      margin-bottom: 150px;

      background-image: url("../../shared/assets/icons/logo.svg");
      background-position: center;
      background-size: cover;
    }
  }
}

.drawerList {
  width: 100%;
  max-width: 903px;

  font-family: "Rostelecom Basis";
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(119 124 133);
}
