.burgerMenu {
  width: 100%;
  max-width: 102px;
  min-height: 32px;

  .burgerBtn {
    position: relative;

    display: flex;
    align-items: center;

    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #e8e9ea;

    background-color: transparent;

    &:hover {
      color: #9466ff;
    }

    .burgerIcon {
      width: 100%;
      width: 24px;
      min-height: 24px;
      margin-right: 12px;
    }
  }
}

.wrapper {
  overflow: hidden;
  margin: 0 auto;

  .wrapperContent {
    padding: 58px 2% 0;

    background-color: #101828;
    background-image: url("../../shared/assets/icons/Header/burgerBg.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;

    .logo {
      position: relative;

      display: block;

      width: 100%;
      max-width: 197px;
      min-height: 50px;

      background: no-repeat url("../../shared/assets/icons/logo.svg");
      background-size: contain;
    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      max-width: 1504px;
      min-height: 106px;
      margin: 0 auto;

      .containerBtns {
        width: 100%;
        max-width: 160px;
        min-height: 48px;

        .containerCloseMenu {
          display: flex;
          justify-content: flex-end;
          min-height: 58px;

          .closeMenu {
            width: 100%;
            max-width: 24px;
            min-height: 24px;
            background: url("../../shared/assets/icons/Header/closeMenu.svg") transparent no-repeat;
          }
        }

        .btnsMenu {
          display: flex;
          justify-content: space-between;

          .langBtn {
            position: static;

            display: flex;

            box-sizing: border-box;
            width: 100%;
            max-width: 68px;
            min-height: 48px;
            padding: 12px 24px;

            font-family: "Rostelecom Basis";
            font-size: 16px;
            color: rgb(255 255 255 / 90%);
            text-align: center;

            background-color: transparent;
            border: 2px solid rgb(148 102 255);
            border-radius: 32px;
          }
        }
      }
    }
  }
}

.drawerList {
  width: 100%;
  max-width: 1575px;

  font-family: "Rostelecom Basis";
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(119 124 133);
}

.listMargin:not:last-child {
  margin-bottom: 48px;
}
